body
{
    background-size: cover;
}
h1
{
    color:black;
}
#show_sketch
{
    float: right;
    background-color: yellow;
    border-color: black;
}
canvas
{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 40px;
    animation-iteration-count: infinite;
}
@keyframes example {
    from{box-shadow: 1px 1px 38px violet;}
    to {box-shadow: 1px 1px 38px whitesmoke;}
}
p
{
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Comic Neue', cursive;
    font-weight: 1000;
}